@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
:root {
    --primary: #026fc1;
    --secondary: #029be1;
    --neutral: #ffffff;
    --tertiary: #359c36;
    --warning: #f2bf2e;
    --neutral-light: #f5f5f5; 
    --border-color: #ddd;
 }
 html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    
}

.ingenieria-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title-container {
    background-color: var(--primary);
    width: 288px;
    height: 77px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
    position: relative;
    text-align: center;
    font-size: 1rem;
    color: var(--neutral);
    margin-top: -400px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container h2{
    width: 90%;
}

.logos-section {
    margin-top: 25px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-container {
    width: auto;
   height: auto;
   padding-bottom: 20px;
}

.logo1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*...............................................................*/

.info-container {
    width: 60%;
    max-width: 1200px;
    margin: 40px auto;
}

.info-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/* Columna de texto */
.info-text {
    order: 1;
    flex: 1;
    font-size: 1rem;
}
.title{
    color: var(--primary);
    font-size: 2rem;
}
.contact-column {
    order: 2;
    flex: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snies-container{
    order: 3;
    font-size: 1rem;
    padding-bottom: 20px;
}
.director-info {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.director-info img {
    width: 100%;
    border-radius:25px 25px 0 0;
}

.director-details {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.director-details h4 {
    color: var(--primary);
    font-size: 1rem;
    margin: 5px 0;
    padding-left: 5px;
    padding-right: 5px;
}

.director-details p {
    font-size: 1rem;
    color: gray;
}
.director-details a{
    text-decoration: none;
}

.contact-email {
    font-size: 1rem;
    margin-top: 15px;
    text-align: center;
    color: var(--secondary);
}

.contact-email a {
    color: var(--secondary);
    text-decoration: none;
   
}

.info-button {
    background-color:var(--tertiary);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 0.8rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.info-button:hover {
    background-color: var(--tertiary)
}


.accreditation-info {
    border: 2px solid var(--secondary);
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
}
.program-details{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    list-style: none;
    font-size: 0.7rem;
    padding: 0%;
}
.detail-li{
    display: flex;
    align-items: center;
}

.icon{
    color: var(--warning);
    font-size: 30px;
    height: auto;
    padding-right: 5px;
}

/*fin de la sección información..........................................*/
.asignaturas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.background2 {
    position: relative;
    width: 100%;
    height: 990px;
    overflow: hidden;
    z-index: -2;
}


.background2 img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    z-index: -2;
}


.background2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 9, 0.748);
    z-index: -1;
}

.content-container {
    max-width: 65%;
    color: var(--neutral);
    text-align: left;
    z-index: 2;
    margin-top: -990px;
}


.study-plan-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: solid var(--neutral);
}


.study-plan-item {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}


.study-plan-total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.study-plan-button {
    display: block;
    text-align: center;
    background: var(--warning);
    color: var(--neutral);
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    margin-top: 1rem;
    transition: background 0.3s;
    margin-bottom: 30px;
}

.study-plan-button:hover {
    background: var(--warning);
}

/*fin de la sección plan de estudios............................................*/

.peo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--neutral); 
}

.peo-container {
    width: 65%;
    text-align: left;
}

.peo-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.peo-description {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 30px;
}

.peo-item {
    margin-bottom: 20px;
}

.peo-subtitle {
    color: var(--primary);
    font-size: 1rem;
    font-weight: bold;
}

.peo-text {
    font-size: 1rem;
    line-height: 1.5;
}

/*Fin seccion en ingles1................................................................*/

.student-outcomes-section {
    background-color: var(--neutral-light);
    text-align: center;
    padding-bottom: 15px;
}

.container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.section-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
th, td {
    padding: 8px;
    text-align: left;
    
  }

.outcomes-list {
    text-align: left;
    list-style-type: decimal;
    padding-left: 20px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.table-container {
    background-color: var(--neutral);
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: auto;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border-radius:25px;
    font-size: 0.6rem;
    margin-left: 5%;
    margin-right:5% ;
    
}
.stats-table {
  
    border-collapse: collapse;
    background: var(--neutral);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
}

.stats-table th, .stats-table td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
   
}

.stats-table th {
    background-color: var(--primary);
    color: var(--neutral);
}

.footer-note {
    font-size: 0.8rem;
    color: #666;
    padding: 0%;
    text-align: left;
}

.footer-section {
    background-color: var(--primary);
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    color:var(--neutral);
    font-size: 0.8rem;
}

.footer-text strong {
    font-weight: bold;
}

@media()

